
/*🍀 [navbar] */

.navbar-icon {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    /* CSS 26 . T: navbar의 div막대 3개가 row로 겹쳐있는걸 column으로 바꿈*/
    flex-direction: column;
  }
  
  .open-navbar-icon {
    /* T: fixed. z-index */
    position: fixed;
    top: 6.5rem;
    left: 6.5rem;
    z-index: 200;
  }
  
  /* CSS 26 */
  .navbar-icon .line {
    height: 0.5rem;
    width: 3.5rem;
  }
  .open-navbar-icon .line {
    margin: 0.3rem 0;
  }
  
  .line:nth-child(1){
    background-color: grey;
  }
  .line:nth-child(2){
    background-color: grey;
  }
  .line:nth-child(3){
    background-color: grey;
  }
  
  
  /* 🍀클릭해서 x모양으로 바뀔 때 navbar  */
  
  .navbar-wrapper {
    /* display: none; */
    /* T: vw: view width, vh: view height */
    /* ????: 다른곳은 rem쓰다가, 왜 여기에서는 vw, vh를 썼지? */
    width: 100vw;
    height: 100vh;
    background-color: var(--test-color);
    position: fixed;
    left: 0;
    /* CSS 38. js 06 */
    /* bottom: -100%;
        opacity: 0;
    */
    z-index: 300;
    /* opacity: 0.9; */
    /* T: CSS 28 : container와 크기 똑같이 맞추기*/
    padding: 3.5rem 5.5rem 3.5rem 3.5rem;
  
    /* CSS 40 */
    /* bottom에서 올라오는 속도, opacity 적용되는 속도 */
    transition: bottom 0.5s, opacity 0.2s;
  }
  
  /* CSS 38. js 06 */
  /* navbar-icon클릭할때 .change추가 */
  .change .navbar-wrapper {
    /* position..위치,opacity */
    bottom: 0%;
    opacity: 1;
  
    /* CSS 40 */
    /* bottom에서 올라오는 속도, opacity 적용되는 속도, 화면표시되기까지 delay */
    transition: bottom 0.5s, opacity 0.2s 0.25s;
  }
  
  .navbar {
    width: 100%;
    height: 100%;
  
    /* T: 검은색gradient에서 opacity만 조절 */
    /* url(images/navbar-bg.jpg)  */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),center no-repeat;
    /* CSS 30 ,32*/
    position: relative;
    /*????: T: navbar-link가 top:-100% 로 내려가있는상태라서, 밑의 hover효과를 다 가려버리는 버그 고쳐줌 */
    overflow-y: hidden;
  }
  
  .close-navbar-icon {
    /* CSS 30 */
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 300;
  }
  /* CSS 32 */
  .close-navbar-icon .line {
    position: absolute;
  }
  /* CSS 32 */
  /* T: 40deg */
  .line-1 {
    transform: rotate(40deg);
  }
  /* CSS 32 */
  .line-2 {
    transform: rotate(-40deg);
  }
  .nav-list {
    /* CSS 34 :T: 컨테이너 크기만큼의 height. */
    height: 100%;
    /* T: */
    display: flex;
  }
  
  .nav-link {
    /* CSS 34 */
    width: 100%;
    /*css 34 : 글자크기만큼의 height */
    height: 100%;
    font-size: 3rem;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
  
    opacity: 0.8;
  
    /* CSS 38. js 06 */
    position: relative;
    /* top: -100%; */
    /* CSS 36 */
    /* transition: all 0.3s; */
  }
  /* CSS 38. js 06 */
  .change .nav-link {
    top: 0;
  }
  
  /* CSS 36 */
  .nav-link:hover {
    opacity: 1;
    color: purple;
  }
  
  /* CSS 40 */
  /*T: top에서 내려오는 속도 (duration) + delay, opacity 적용되는 속도, color delay*/
/*   .change .nav-link:nth-child(1) {
    transition: top 1s 0.4s, opacity 0.3s, #845EC2 0.3s;
  }
  
  .change .nav-link:nth-child(2) {
    transition: top 1s 0.6s, opacity 0.3s, #4B4453 0.3s;
  }
  
  .change .nav-link:nth-child(3) {
    transition: top 1s 0.8s, opacity 0.3s, #B0A8B9 0.3s;
  }
  
  .change .nav-link:nth-child(4) {
    transition: top 1s 1s, opacity 0.3s, #C34A36 0.3s;
  }
  
  .change .nav-link:nth-child(5) {
    transition: top 1s 1.2s, opacity 0.3s, #FF8066 0.3s;
  }
 */
  /* ~~~~ */
  .nav-link:nth-child(1) {
    background: #845EC2;
 
  }
  
   .nav-link:nth-child(2) {
    background: #4B4453;
    
  }
  
   .nav-link:nth-child(3) {
    background: #B0A8B9;
    
  }
  
 .nav-link:nth-child(4) {
    background: #C34A36;
   
  }
  
 .nav-link:nth-child(5) {
    background: #FF8066;  
 
  }