
/* <Popular tours> */
.popular-tours {
    padding: 2rem 0 4rem 0;
  }
  .popular-tours-heading {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary-color);
    text-shadow: .1rem .2rem .5rem grey;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  /* css 4: card, card-image의 width 를 함께 조절해서 flex사이의 빈칸 완성 */
  .card {
    width: 35rem;
    position: relative;
    /* CSS 8 . js 02*/
    /* T알고리즘 : perspective : 원근법으로 card front-back side toggle 코딩 시작
  숫자가 적을수록 3d이펙트가 강함.
  보통으로 보이게 하기위해 대충 150rem 넣고 시작 
  transform으로 앞으로 빼오는 방식
  */
  
    perspective: 150rem;
  }
  /* css 4 */
  .card-image {
    width: 100%;
    border-radius: 1rem;
  }
  
  .front-side {
    text-align: center;
    background-color: var(--white-color);
    border-radius: 1rem;
    /* CSS 6 */
    position: relative;
    z-index: 10;
    /* CSS 8 */
    opacity: 0.9;
    /* T: js 02 */
    transition: opacity 1s, transform 1s, box-shadow 1s;
  }
  
  /* js 02 */
  /* .change > .front-side {
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: 0.5;
    z-index: 0;
  } */
  
  .tour-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 2rem blue;
    /* CSS 6 : 글자를 absolute줘서 위로 올려서 사진안에 넣음
    */
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: var(--white-color);
  }
  
  .card-list {
    width: 80%;
    /* T: 가운데 정렬 */
    margin: auto;
    padding: 2rem 0 3rem 0;
  }
  .card-list-item {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-grey-color);
    margin: 2rem 0;
    /* T :border*/
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 1.5rem;
  }
  
  .back-side {
    /* CSS 6 */
    position: absolute;
    /* ???? top:0 */
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 1rem 1rem #777;
    flex-direction: column;
    /* CSS 8 */
    opacity: 0.5;
    /* CSS 8 */
    transform: translateZ(-5rem) translateX(3rem);
    /* T: js 02 */
    transition: opacity 1s, transform 1s, box-shadow 1s;
  }
  
  /* js 02 <pupular tours> 버튼누르면 앞뒤 화면전환 */
  
  /* .change > .back-side {
    transform: translateZ(0) translateX(0);
    box-shadow: 0 0.5rem 2rem #aaa;
    opacity: 0.9;
  }
   */
  .tour-price {
    font-size: 5rem;
    font-weight: 300;
    color: var(--white-color);
    margin-bottom: 3rem;
  }
  
  .card-button {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    /* T */
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .navigation-button {
    background-color: rega(255, 255, 255, 0.8);
    padding: 0.5rem;
    color: var(--light-grey-color);
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    /* T */
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
  
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }