
/* <Stories> */
.stories {
    padding: 10rem 0;
    /* CSS 12 */
    position: relative;
  }
  
  .video-container {
    /* CSS 12 */
    position: absolute;
    top: 0;
    left: 0;
  
    /* CSS 14 : container의 width도 100%설정 */
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  
  .bg-video {
    /* CSS 14 */
    width: 100%;
    height: 100%;
    /* T: */
    object-fit: cover;
  }
  
  .stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .story-bg {
    background-color: rgba(238, 238, 238, 0.85);
    padding: 5rem;
    margin: 5rem;
    width: 70%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
    /* CSS 10 : T : skewX*/
    transform: skewX(20deg);
  }
  .story {
    /* CSS 10 : 사진만 원래모습으로 보이게 함 */
    transform: skewX(-20deg);
    display: flex;
  }
  .story-image {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    /* T  : 사진 선명하게*/
    object-fit: cover;
    margin-right: 5rem;
  }
  .story-text {
    /* T: */
    letter-spacing: 0.1rem;
  }
  .story-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 1rem;
  }
  
  .story-paragraph {
    font-size: 1.8rem;
    color: var(--light-grey-color);
  }
  /* T : */
  .story-paragraph:first-letter {
    margin-left: 2rem;
  }