
@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
  .nav-list {
    flex-direction: column;
  }
  .nav-link {
    flex-grow: 1;
  }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* T: 풍선보다 항상 앞에 보이게 */
    z-index: 10;
  }
  .heading {
    font-size: 6rem;
  }
  .story-bg {
    transform: skewX(0);
  }
  .story {
    transform: skewX(0);
    flex-direction: column;
    align-items: center;
  }

  .story-image {
    margin-bottom: 3rem;
  }

  .footer-link {
    padding: 0.3rem 2rem;
    margin: 0 1rem;
  }
  /* T: 전체 font크기 낮춰서 간단하게 해결 */
  html {
    font-size: 50%;
  }
}

@media (max-width: 800px) {
  .header-paragraph {
    display: none;
  }
  .popular-tours-heading {
    font-size: 5rem;
  }
  .contact-form {
    width: 90%;
  }
  .footer-list {
    flex-direction: column;
    align-items: center;
  }
  .footer-link {
    margin: 1rem 0;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 1rem 0;
  }
  .story-bg {
    width: 85%;
  }
}
@media (max-width: 650px) {
  .container {
    margin: 0;
  }
  .open-navbar-icon {
    top: 2.5rem;
    left: 2.5rem;
  }
  .navbar-wrapper {
    padding: 0;
  }
  .close-navbar-icon {
    right: 4rem;
  }
  .header {
    height: 100vh;
  }
  .contact-heading {
    padding: 2rem;
    height: 40rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
  .contact-heading {
    margin-bottom: -20rem;
  }
}
